<div
  class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 z-50"
  *ngIf="isVisible"
>
  <div
    class="bg-white px-8 py-4 rounded-lg shadow-xl w-full max-w-md mx-auto relative my-auto"
  >
    <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
      Add New Connection
    </h2>

    <form (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >First IP</label
        >
        <input
          type="text"
          [(ngModel)]="newConnectData.idFirst"
          name="idFirst"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Port Source</label
        >
        <input
          type="text"
          [(ngModel)]="newConnectData.portSource"
          name="portSource"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Last IP</label
        >
        <input
          type="text"
          [(ngModel)]="newConnectData.idLast"
          name="idLast"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-1"
          >Port To</label
        >
        <input
          type="text"
          [(ngModel)]="newConnectData.portTo"
          name="portTo"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          required
        />
      </div>
      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700 mb-1">Note</label>
        <textarea
          [(ngModel)]="newConnectData.note"
          name="note"
          class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none"
          rows="4"
        ></textarea>
      </div>

      <div class="flex justify-end space-x-4">
        <button
          type="button"
          class="px-5 py-2 text-gray-700 border border-gray-300 rounded-md hover:bg-gray-100 transition duration-200"
          (click)="onClose()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-5 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-md transition duration-200"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</div>
